---

extRefs:
  Unguard:
    url: "{{ ingress_protocol }}://{{ unguard_domain }}"
    description: "Unguard is available at <a href=\"{{ ingress_protocol }}://{{ unguard_domain }}/ui\">{{ ingress_protocol }}://{{ unguard_domain }}/ui</a>"
