---
useCases:
  app-easytrade:
    previews:
    - section: EasyTrade
      description: EasyTrade Web
      url: "http://easytrade.{{ ingress_domain }}/ui"

extRefs:
  EasyTrade Web:
    url: "http://easytrade.{{ ingress_domain }}/ui"
    description: "<a href=\"http://easytrade.{{ ingress_domain }}/ui\">EasyTrade</a> is a trading app"